<main id="tienda">
    <div class="productos">
        <% for(let i = 0; i < 20; i++) { %>
            <div class="producto">
                <img src="https://github.com/MagicianTech/PRoAWeb/blob/main/media/prof/representativa.png?raw=true" alt="imagen">
                <h1>Producto</h1>
                <h3>300$</h3>
                <button>
                    <h1>Pedir</h1>
                </button>
            </div>
        <% } %>
    </div>
</main>