<%- include('templates/head') %>
<body>
    <%- include('templates/header') %>
    <main>
        <div class="productoGrande">
            <img src="https://github.com/MagicianTech/PRoAWeb/blob/main/media/prof/representativa.png?raw=true" alt="imagen">
            <h1>Producto</h1>
            <h3>300$</h3>
            <form action="">
                <div class="datos">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <button>
                    <h1>Pedir</h1>
                </button>
            </form>
        </div>
    </main>
</body>
</html>