*{
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: #ffffff 1px solid;
}

.logo {
    height: 50px;
}

nav a {     
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #007bff;
}

main{
    background-color: black;
    color: #f5f5f5;
    padding: 5%;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0%;

}

.producto{
    color: #ffffff;
    width: 95%;
    height: 400px;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 10%;
}

.producto img{
    background-color: #007bff;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.productoGrande{
    
}

button{
    margin: auto;
    width: 99%;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
}

button:hover{
    background-color:#007bff77;
}

footer{
    padding : 10%;
}

@media (max-width :  800px){
    .productos{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0%;
    }
    .producto{
        margin: 0%;
        margin-bottom: 10%;
    }
}
